// colors
$primary-color: #ef5b4c;
$secondary-color: #007bff;
$background-color: #f9f9f3;
$white: #FFF;

// font sizes
$biggest-size: 50px;
$bigger-size: 40px;
$big-size: 30px;
$normal-size: 24px;
$medium-size: 16px;

